body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(180, 180, 180);
}

li {
  font-weight: 500;
  list-style-type: none;
}

ul {
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: 60% 40%;
}

button {
  margin: 2px;
}

.alphabet {
  display: grid;
  grid-template-columns: auto auto auto;
}

.alphabet h3 {
  padding-left: 5px;
}
